<div class='form-input-wrap'>
  <label class='form-input-wrap__label' for={{name}}>{{label}}</label>
  <input
    required
    class='form-input-wrap__input'
    type={{type}}
    name={{name}}
    placeholder='Введите {{placeholder}}...'
    pattern={{pattern}}
    value={{value}}
  />
</div>
