{{#if idActiveChat}}<div class='content-form__header'>
  <div class="user-list-wrap">
    <div>Пользователи чата:</div>
    {{{userList}}}
  </div>
  <div class="options-wrap">
    {{{chatOptions}}}
  </div>
</div>
<div class="content-form__main">{{{contentDisplay}}}</div>
{{{msgSendingForm}}}
</if>
{{else}}
<div class="no-active-chats-wrap"><div class="no-active-chats-msg">Выберите чат, чтобы отправить сообщение</div></div>
{{/if}}
