<form class='sending-form'>
  {{{buttonAttachment}}}

  <textarea
    autofocus
    class='sending-form__message'
    name={{name}}
    value='{{value}}'
    placeholder='Написать сообщение...'
  ></textarea>
  {{{buttonSmiles}}}
  {{{buttonSubmit}}}
</form>
